.feature{
    width: 100%;
    height: auto;
    padding-top: 200px;
}

.feature .h1{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.items-feature{
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.items-feature .item2{
    width: 200px;
    height: 150px;
    border: 1px solid #353535d3;
    padding-top: 40px;
}

.items-feature .center{
    border: 1px solid transparent;
    border-top: 1px solid #353535d3;
    border-bottom: 1px solid #353535d3;
}

.items-feature .item2 .fa{
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.items-feature .item2 h2{
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.feature p{
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 70px;
    padding-bottom: 60px;
}