#top{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 70px;
    background-color: transparent;
    display: flex;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    width: 30%;
    height: 35px;
}

.logo img{
    width: 60px;
}

.menu{
    width: 70%;
    height:35px;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li{
    margin-right: 20px;
    width: 100px;
    height: 35px;
    text-align: center;
}

.menu a{
    cursor: pointer;
    text-decoration: none;
    color: #3535357e;
    width: 100%;
    height: 35px;
    line-height: 35px;
    transition: 0.4s;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.menu a:hover{
    color: #353535d3;
}

.menu .active a{
    border: 1px solid #353535d3;
    color: #353535d3;
    border-radius: 4px;
}


/*********************** content **********************/

.content{
    width: 100%;
    padding-top: 5%;
}

.content h1{
    width: 100%;
    color: #353535ef;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.content p{
    width: 100%;
    color: #3535357e;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-left: 34%;
    padding-right: 34%;
}

.content .button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content .button button{
    margin-top: 20px;
    border: 1px solid #3c6fdf;
    border-radius: 4px;
    width: 180px;
    height: 45px;
    background-color: #3c6fdf;
    color: #ffffffc2;
    font-weight: 600px;
    box-shadow: 0px 3px 25px rgba(55, 108, 221, 0.3);
    line-height: 45px;
    transition: 0.4s ease;
    text-shadow: 0px 1px 1px rgba(218, 220, 223, 0.5);
}

.content .button button:hover{
    color: #ffffff;
    cursor: pointer;
}

.items{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-item{
    display: flex;
    margin-top: 100px;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(0,0,0, 0.15);
    border-radius: 8px;
    height: 80px;
}

.items .item1{
    width: 155px;
    text-align: center;
    height: 80px;
    line-height: 0px;
    padding-top: 20px;
}

.items .center{
    border-left: 1px solid #35353518;
    border-right: 1px solid #35353518;
}

.items .item1 .fa{
    width: 25px;
    height: 25px;
    color: #3535357e;
}

.items .item1 h2{
    font-size: 11px;
    color: #3535357e;
}