#svg-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    margin-top: -150px;
  }
  #content-svg{
    width: 100%;
    
  }
  #svg{
    width: 100% !important;
    opacity: 0.4;
  }
  
  #cloud1{
    animation-name: cloud1;
    animation-duration: 50s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  #cloud2{
    animation-name: cloud2;
    animation-duration: 75s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 10s;
    opacity: 0;
  }
  
  #cloud3{
    animation-name: cloud3;
    animation-duration: 60s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
    opacity: 0;
  }
  
  #cloud4{
    animation-name: cloud4;
    animation-duration: 300s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
  }
  
  #cloud5{
    animation-name: cloud5;
    animation-duration: 200s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
  }
  
  #cloud6{
    animation-name: cloud6;
    animation-duration: 100s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
  }
  
  @keyframes cloud1{
    0%{
        opacity: 0;
        transform: translateX(50%) translateY(30px);
    }
    2%{
       opacity: 1;
    }
    98%{
      opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-50%) translateY(30px);
    }
  }
  @keyframes cloud2{
    0%{
        opacity: 0;
        transform: translateX(35%) translateY(-10px);
    }
    2%{
       opacity: 1;
    }
    98%{
      opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-55%) translateY(-10px);
    }
  }
  @keyframes cloud3{
    0%{
        opacity: 0;
        transform: translateX(10%) translateY(10px);
    }
    2%{
       opacity: 1;
    }
    98%{
      opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-85%) translateY(10px);
    }
  }
  
  @keyframes cloud4{
    0%{
        opacity: 0;
        transform: translateX(0px);
    }
    2%{
       opacity: 1;
    }
    98%{
      opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-85%);
    }
  }
  
  @keyframes cloud5{
    0%{
        opacity: 0;
        transform: translateX(25%) translateY(10px);
    }
    2%{
       opacity: 1;
    }
    98%{
      opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-5%) translateY(10px);
    }
  }
  
  @keyframes cloud6{
    0%{
        opacity: 0;
        transform: translateX(10%) translateY(10px);
    }
    2%{
       opacity: 1;
    }
    98%{
      opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-10%) translateY(10px);
    }
  }
  